# Ignore virtual environment
backend/backend/

# Byte-compiled / cache files
**/__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
**/.env

# VSCode and PyCharm settings
.vscode/
.idea/

# Test files
backend/test.py
backend/test_llm.py
backend/test_limit.py
backend/orginal agent.py
backend/orginal prompt.py

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others (optional)
*.sqlite3
*.db

